@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 139, 0, 0;
    --background-end-rgb: 139, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.roboto__font {
  font-family: var(--roboto-font);
}

.inter__font {
  font-family: var(--inter-font);
}

.dancingscript__font {
  font-family: var(--dancingscript-font);
}

.caveat {
  font-family: var(--caveat-type);
}

.pacifico {
  font-family: var(--pacifico);
}

.shadowsDesign {
  font-family: var(--shadows__into);
}

.greatvibes {
  font-family: var(--greatvibes);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
